<!DOCTYPE html>
<html lang="es">
<head>
{{>head}}
</head>
<body class="merchandiseBody">
    <header>
        {{>header}}
    </header>
    <div>
          <div class="whatsapp btn-whatsapp2" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i>
              <img src="../imagenes/whatsapp.svg" width="30">
          </div>
    </div>
    <!--Theme ecommerce de bootstrap adaptado a mi sitio https://startbootstrap.com/template/shop-homepage-->
   <section class="py-5">
                    <div class="container-fluid">
                            {{>itemDetail}}
                    </div>
  </section>
  <footer class="aboutusFooter footer"><!--bloque 4 BEM-->
    {{>footer}}
  </footer>
    {{>scripts}}
</body>

</html>